---
import { Button } from "@/components/ui/button"
import RootLayout from "@/layouts/RootLayout.astro"
import { SonnerDemo } from "@/components/SonnerDemo"

---

<RootLayout >
  <Button>Hello World</Button>

  <SonnerDemo client:load />
</RootLayout>
